api/.phpunit.cache
api/node_modules
api/public/build
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.env.production
api/.phpactor.json
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/auth.json
api/npm-debug.log
api/yarn-error.log
api/.fleet
api/.idea
api/.vscode
# Nuxt dev/build outputs
client/.output
client/.data
client/.nuxt
client/.nitro
client/.cache
client/dist

# Node dependencies
client/node_modules

# Logs
client/logs
client/*.log

# Misc
client/.DS_Store
client/.fleet
client/.idea

# Local env files
client/.env
client/.env.*
client/!.env.example