{# {% apply inline_css(source('@styles/email.css')) %} #}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width">
    
    <title>{{ email.subject }}</title>
</head>

<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <div
                class="w-20 h-20 flex justify-center items-center border border-primary border-solid rounded-full bg-slate-600 duration-500">
                ATP
            </div>
        </div>

        <div class="content">
            <h1 class="text-center">Witaj, {{ user.username }}!</h1>
            
            
            <p class="block">
                W celu zmiany hasła należy kliknąć poniższy przycisk 
            </p>

            <div class="text-center">
                <a href="{{ url }}" class="block btn">Tak, chcę zmienić hasło</a>
            </div>
        </div>

        <div class="footer">
        </div>
    </div>
</div>
</body>
</html>
{% endapply %}